html {
  background-color: #282c34;
  color: white;
  text-align: center;
  font-size: 24px;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}

header,
nav,
aside,
main,
article,
footer {
  padding-top: 10px;
  border: 5px dashed white;
  min-height: 100px;
}

header,
nav,
article,
footer,
.flex-container {
  margin: 20px;
}

.flex-container {
  display: flex;
}

header {
  background-color: #c57bdd;
}

nav {
  background-color: #e44d26;
}

aside {
  margin-right: 20px;
  background-color: #f7df1e;
  flex-grow: 1;
}

main {
  background-color: #e06c75;
  flex-grow: 3;
}

article {
  background-color: #53c2df;
}

footer {
  background-color: #35cc7f;
}
