html {
  background-color: #282c34;
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.flex-container {
  width: 100%;
}

.blog-post {
  min-height: 300px;
  width: 300px;
}

.post-1 {
  background-image: url(http://placekitten.com/300/300);
}

.post-2 {
  background-image: url(http://placekitten.com/300/310);
}

.post-3 {
  background-image: url(http://placekitten.com/300/320);
}

.post-title {
  background-color: #282c3499;
}
